<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:hasFragileUserData="true"
        tools:replace="android:hasFragileUserData">
        <activity
            android:name=".ViewTrackMap"
            android:exported="false" />
    </application>

</manifest>